# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\gulya\OneDrive\Dokumentumok\ELTE\Algoritmusok és adatszerkezetek\TransposeGraph\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
